.sidebar {
    height: 100%;
    text-align: left;
    padding: 0 0 0 50px;
    margin-right: 40px;
}

.sidebar > ul {
    display: flex;
    margin-top: 80px;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

ul > span {
    color: #8d8d8d;
    font-weight: 500;
    font-size: 13px;
}

.logo {
    font-weight: 800;
}

.route {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

a {
    color: #8d8d8d;
    font-weight: 700;
}

a.active {
    color: #484848;
}
