.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 220px;
    max-width: 140px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.movieTitle{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
